<%- include('includes/header') %>

    <div class="container">
        <h1>
            <%= albums.title %>
        </h1>
        <h3>
            <%= albums.authorName %>
        </h3>
        <h6>
            <%= albums.description %>
        </h6>
    </div>

    <%- include('includes/footer') %>